image: python:3.10-slim

stages:
  - test
  - deploy

include:
  - template: Security/SAST.gitlab-ci.yml

sast:
  stage: test

pypi:
  stage: deploy
  script:
    - apt-get update
    - apt-get install curl -y
    - curl -sSL https://install.python-poetry.org | python -
    - export PATH="/root/.local/bin:$PATH"
    - poetry install
    - poetry config pypi-token.pypi $PYPI_TOKEN
    - poetry publish --build
  only:
    - master
  environment:
    name: pypi
    url: https://pypi.org/project/collectors-channel-cli
